{
    "printWidth": 80,
    "singleQuote": true,
    "tabWidth": 4,
    "semi": true,
    "useTabs": false,
    "trailingComma": "all",
    "arrowParens": "always",
    "proseWrap": "always",
    "endOfLine": "lf"
}